* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

:root {
  --primary-color: #a4bc46;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}

.btn-primary {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(#a4bc46, #85a019);
  color: white;
  color: var(--white);
  width: 170px;
  height: 60px;
  border: none;
  border-radius: 10px;
  padding: 10px 24px;
}

.btn-primary img {
  width: 24px;
  aspect-ratio: 1/1;
}

.btn-primary p {
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
}

.dots {
  position: absolute;
  width: 150px;
  height: 170px;
  left: 30vw;
  top: -100px;
  background: radial-gradient(circle, #ffe2aa 1.5px, transparent 2.5px);
  background-size: 15px 15px;
  background-repeat: repeat;
  z-index: 100;
}

.header-container {
  background: #fffbf0;
  /* background-color: darksalmon; */
  padding: 0 8.44rem;
}

.page-header {
  /* background: #fffbf0; */
  margin: 0 auto;
  padding-bottom: 6rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 0 0;
}

.navbar .brand {
  display: flex;
  align-items: center;
}

.navbar .brand img {
  width: 56px;
  height: 40px;
}

.navbar .brand .brand-title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #363958;
}

.navbar .brand .brand-title .brand-accent {
  color: var(--primary-color);
}

.navbar .nav-links {
  display: flex;
  margin-top: 0;
}

.navbar .nav-links li {
  display: inline-block;
}

.navbar .nav-links li a {
  color: #3c3c3c;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  padding: 0 2rem;
}

.hero {
  display: flex;
  /* background-color: darkcyan; */
  justify-content: space-between;
  align-items: center;
  /* margin-top: 48px; */
}

.hero .hero-content {
  /* background: darkolivegreen; */
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero .hero-content .hero-title {
  /* background-color: darkgoldenrod; */
  color: #363958;
  font-family: "Bebas Neue", sans-serif;
  font-size: 80px;
  font-weight: 400;
  line-height: 6rem;
}

.hero .hero-content .hero-title .hero-highlight {
  color: #fabe4c;
  /* background-color: darkblue; */
  font-family: "Bebas Neue", sans-serif;
}

.hero .hero-content .hero-desc {
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.hero .hero-image {
  /* background: darkblue; */
  padding-top: 3.5rem;
  padding-right: 14rem;
}

/* .products-container {
  background: #ffffff;
  padding: 0 8.44rem;
} */

.product-section {
  /* width: 100vw; */
  /* height: max-content; */
  /* padding: 135px; */
  background: #ffffff;
  margin-top: 49px;
  padding: 0 8.44rem;
  padding-bottom: 28px;
}

.product-section .product-title {
  color: #363958;
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  font-weight: 400;
  padding-bottom: 21px;
  align-items: left;
}

.product-section .product-grid {
  display: flex;
  flex-direction: row;
  /* gap: 30px; */
  justify-content: space-between;
}

.product-grid .product-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 370px;
  height: 550px;
  border-radius: 20px;
  padding: 18px;
  padding-bottom: 12px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}

.product-card .card-img {
  width: 334px;
  height: 327px;
  background-color: #f1f1f1;
  padding: 27px 48px 27px 48px;
  border-radius: 20px;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.product-content {
  padding: 17px 0px 0px 4px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.product-content .product-name {
  color: #363958;
  font-size: 24px;
  font-weight: bold;
}

.product-content .product-desc {
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 400;
}

.product-content .bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-section .product-content .bottom-bar .price {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  color: #fabe4c;
  font-weight: 900;
  padding-top: 8px;
}

.features-section {
  display: grid;
  grid-template-rows: 1;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;
  background: #ffffff;
  margin-top: 49px;
  padding: 0 8.44rem;
  padding-bottom: 7rem;
}

.features-section .features-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 16px;
}

.features-content .features-card {
  display: flex;
  flex-direction: row;
  gap: 32px;
  width: 489px;
  height: 135px;
  padding: 32px 16px;
  border: 0.25px solid #f1f1f1;
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.05);
}

.features-card > img {
  width: 78px;
  aspect-ratio: 1/1;
}

.features-card .features-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.features-details h1 {
  font-size: 24px;
  color: #363958;
}

.features-section > img {
  width: 600px;
  height: 350px;
  align-self: center;
  justify-self: center;
}
